@font-face {
    font-family: "Inter", sans-serif;
    src: url("../fonts/Inter.ttf");
}

@font-face {
    font-family: "Oswald", sans-serif;
    src: url("../fonts/Oswald.ttf");
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --c_black: #000000;
    --c_gray: #938A8A;
    --c_white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 480px;
    position: relative;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--c_black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

h2 {
    font-size: 32px;
    line-height: 1.2188;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

button {
    font-family: "Inter", sans-serif;
}

.wrapper {
    width: 480px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
}

.main {}


/* hero section */

.hero_section {
    color: var(--c_white);
    background-image: url("../img/hero-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_top {
    font-weight: 700;
    padding: 10px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: -webkit-gradient(linear, left top, right top, from(#F75920), color-stop(80.55%, #F86022), to(#F86223));
    background: -o-linear-gradient(left, #F75920 0%, #F86022 80.55%, #F86223 100%);
    background: linear-gradient(90deg, #F75920 0%, #F86022 80.55%, #F86223 100%);
    border-radius: 0px 0px 10px 10px;
}

.hero_main {
    padding: 18px 16px 0px;
}

.hero_badge {
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--c_black);
    padding: 15px 26px;
    border-radius: 50rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: auto auto 18px;
    background: -webkit-gradient(linear, left top, right top, from(#FFC116), to(#FFEAB0));
    background: -o-linear-gradient(left, #FFC116 0%, #FFEAB0 100%);
    background: linear-gradient(90deg, #FFC116 0%, #FFEAB0 100%);
}

.hero_title {
    text-align: center;
    text-transform: uppercase;
}

.hero_spacer {
    height: 538px;
}

.hero_reviews {
    color: var(--c_black);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 17px 40px;
    gap: 16px;
    background: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    border-radius: 73px;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
}


/* info section */

.info_section {
    padding: 48px 16px 24px;
}

.info_list {
    margin-bottom: 24px;
}

.info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 17px;
    gap: 15px;
    border: 1px dashed #FFC116;
    border-radius: 10px;
    margin-bottom: 9px;
}

.info_icon img {
    width: 39px;
    min-width: 39px;
    height: 39px;
    -o-object-fit: contain;
       object-fit: contain;
}

.info_priceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: auto auto 7px;
    max-width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.info_price {
    color: var(--c_gray);
    text-decoration: line-through;
}

.info_price__current {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2188;
}

.info_price__discount {
    color: var(--c_white);
    font-weight: 700;
    background: -webkit-gradient(linear, left top, right top, from(#FFC116), to(#F86223));
    background: -o-linear-gradient(left, #FFC116 0%, #F86223 100%);
    background: linear-gradient(90deg, #FFC116 0%, #F86223 100%);
    border-radius: 0px 10px 10px 10px;
    padding: 6px 10px;
}

.comment_box {
    padding: 24px 0px;
    background-image: url("../img/bg-ellipse.svg"), url("../img/bg-ellipse.svg");
    background-repeat: no-repeat;
    background-position: top 0px right 28px, left 29px bottom;
    background-size: 61px, 131px;
}

.comment_item {
    background: #FFFFFF;
    -webkit-filter: drop-shadow(0px 4px 21.9px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 21.9px rgba(0, 0, 0, 0.25));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 10px;
    position: relative;
}

.comment_item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    width: 25px;
    height: 20px;
    background-color: #ffffff;
    -webkit-transform: translateY(-100%) skewX(15deg);
        -ms-transform: translateY(-100%) skewX(15deg);
            transform: translateY(-100%) skewX(15deg);
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.comment_user img {
    width: 58px;
    min-width: 58px;
    height: 58px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}

.comment_content {
    font-style: italic;
}


/* form section */

.form_top {
    padding: 24px 16px 30px
}

.form_title {
    text-align: center;
}

.form_select {
    position: relative;
    margin-bottom: 11px;
}

.form_select__input {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
    -webkit-box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.form_select__input:checked {
    background-image: url("../img/bg-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
}

.form_select_box {
    position: relative;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    overflow: hidden;
}

.form_select__input:checked~.form_select_box {
    border-color: #FFC116;
}

.form_select__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 26px;
    padding: 20px 22px 10px;
}

.form_select__img {
    padding-top: 28px;
}

.form_select__img img {
    width: 106px;
    min-width: 106px;
    -o-object-fit: contain;
       object-fit: contain;
}

.form_select__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.form_select__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-right: 110px;
}

.form_select__info {
    list-style: none;
}

.form_select__info li {
    padding: 0px 0px 13px 26px;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 19px;
}

.form_select__price {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 23px 12px 40px 40px;
    background: #FFC116;
    text-align: right;
    -webkit-clip-path: circle(67px at 83px 24px);
            clip-path: circle(67px at 83px 24px);
}

.form_select__price div:first-of-type {
    color: #5E5E5E;
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 300;
}

.form_select__price div:last-of-type {
    font-size: 20px;
    font-weight: 700;
}

.form_select__bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0px 16px 16px;
}

.form_select__bottom .btn {
    width: 100%;
}

.btn {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 11px 16px;
    border-radius: 50rem;
    border: 1px solid;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.btn:active {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98);
}

.btn_primary_outline {
    border-color: #FFC116;
    background-color: transparent;
}

.btn_primary_outline:hover,
.btn_primary_outline:active {
    background-color: #FFC116;
}

.btn_primary_grd {
    border: none;
    padding: 12px 16px;
    background: -webkit-gradient(linear, left top, right top, from(#FFC116), to(#FFEAB0));
    background: -o-linear-gradient(left, #FFC116 0%, #FFEAB0 100%);
    background: linear-gradient(90deg, #FFC116 0%, #FFEAB0 100%);
}

.form_select__input:checked~.form_select_box .btn_primary_grd span:first-of-type,
.form_select__input:not(:checked)~.form_select_box .btn_primary_grd span:last-of-type {
    display: none;
}

.form_select__input:checked~.form_select_box .btn_primary_grd {
    background: -webkit-gradient(linear, left top, right top, from(#BFBFBF), to(#FFEAB0));
    background: -o-linear-gradient(left, #BFBFBF 0%, #FFEAB0 100%);
    background: linear-gradient(90deg, #BFBFBF 0%, #FFEAB0 100%);
}

.form_middle {
    padding: 24px 16px;
    background: #F1F1F1;
}

.order_preview {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 72px 29px rgba(0, 0, 0, 0.01), 0px 40px 24px rgba(0, 0, 0, 0.05), 0px 18px 18px rgba(0, 0, 0, 0.09), 0px 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 72px 29px rgba(0, 0, 0, 0.01), 0px 40px 24px rgba(0, 0, 0, 0.05), 0px 18px 18px rgba(0, 0, 0, 0.09), 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 16px;
}

.order_preview>h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.order_preview__table {
    border-collapse: collapse;
    font-weight: 500;
}

.order_preview__table td {
    padding: 7px;
}

.order_preview__table tbody td {
    border-bottom: 1px solid var(--c_gray);
}

.order_preview__table tr td:last-of-type {
    text-align: end;
    text-wrap: nowrap;
}

.order_preivew__oldPrice {
    font-size: 14px;
    text-decoration: line-through;
}

.order_preview__price {
    font-size: 20px;
    font-weight: 70px;
}

.form_bottom {
    padding: 48px 9px;
    text-align: center;
}

.badge {
    font-weight: 700;
    text-align: center;
    padding: 10px 30px;
    background: -webkit-gradient(linear, left top, right top, from(#FFC116), to(#FFEAB0));
    background: -o-linear-gradient(left, #FFC116 0%, #FFEAB0 100%);
    background: linear-gradient(90deg, #FFC116 0%, #FFEAB0 100%);
    border-radius: 100px;
    display: inline-block;
}

.form_bottom>h2 {}

.form_bottom>p {
    margin-bottom: 14px;
}

.form_bottom>.badge {
    margin-bottom: 40px;
}

.form_bottom__box {
    padding: 0px 17px;
}

.form_bottom__inner {
    padding: 0px 27px;
}

.form_bottom__item {
    margin-bottom: 14px;
}

.form_input {
    text-align: center;
    padding: 16px 25px;
    border: 1px solid #DADADA;
    border-radius: 52px;
    width: 100%;
    outline: none;
}

.form_input:focus {
    border-color: #FFC116;
}


/* .btn_cta {
    color: var(--c_white);
    font-size: 24px;
    font-weight: 700;
    background: conic-gradient(from 46.88deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #FFFFFF 360deg), linear-gradient(90deg, #FFC116 0%, #F86223 100%);
    background-size: 200%,100%;
    box-shadow: 0px 4px 0px #BF7821;
    border: none;
    border-radius: 50rem;
} */

.btn_cta {
    color: var(--c_white);
    font-size: 24px;
    font-weight: 700;
    background: conic-gradient(from 70deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #FFFFFF45 360deg), -webkit-gradient(linear, left top, right top, from(#FFC116), to(#F86223));
    background: conic-gradient(from 70deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #FFFFFF45 360deg), -o-linear-gradient(left, #FFC116 0%, #F86223 100%);
    background: conic-gradient(from 70deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #FFFFFF45 360deg), linear-gradient(90deg, #FFC116 0%, #F86223 100%);
    background-size: auto, auto;
    background-size: 113% 120%, 100%;
    -webkit-box-shadow: 0px 4px 0px #BF7821;
            box-shadow: 0px 4px 0px #BF7821;
    border: none;
    border-radius: 50rem;
}

.form_bottom__box .btn_cta {
    width: 100%;
}

.form_extra__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 40px;
}

.form_extra__infoItem {
    padding: 3px 20px 3px 3px;
    background: #F5F5F5;
    border-radius: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    font-weight: 600;
}

.form_extra__infoItem img {
    width: 50px;
    min-width: 50px;
    height: 50px;
}


/*  */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal_content {
    background-color: #ffffff;
    width: 90%;
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: calc(100svh - 60px);
}

.modal_header,
.modal_footer {
    padding: 12px 14px;
    font-weight: bold;
}

.modal_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal_body {
    padding: 0px 20px 32px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal_body::-webkit-scrollbar {
    display: none;
}

.modal_body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.close_btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    background-color: #DFDFDF;
    width: 36px;
    height: 36px;
    border-radius: 10px;
}

.prdModal_slider{
    margin-bottom: 28px;
}
.prdModal_slider img{
    width: 100%;
    height: 409px;
    -o-object-fit: cover;
       object-fit: cover;
}
.prdModal_slider .owl-dots{
    text-align: center;
}
.prdModal_slider .owl-dot{
    width: 25px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50rem;
    background: #E8E8E8 !important;
}
.prdModal_slider .owl-dot.active{
    background: #FFC116 !important;
}
.prdModal_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.prdModal_priceBox {
    margin-bottom: 14px;
}

.prdModal_price__old {
    color: #938A8A;
    font-size: 16px;
    text-decoration: line-through;
}

.prodModal_price {
    font-size: 32px;
    font-weight: 700;
}

.prodModal_price span {
    color: #ffffff;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, right top, from(#FFC116), to(#F86223));
    background: -o-linear-gradient(left, #FFC116 0%, #F86223 100%);
    background: linear-gradient(90deg, #FFC116 0%, #F86223 100%);
    border-radius: 0px 10px 10px 10px;
    padding: 6px 8px;
    display: inline-block;
    vertical-align: middle;
}

.prdModal_desc {
    margin-bottom: 20px;
}

.prdModal_info {
    list-style: none;
    margin-bottom: 10px;
}

.prdModal_info li {
    padding: 0px 0px 13px 45px;
    background-image: url("../img/check2.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    min-height: 50px;
}

.prdModal_extraInfo {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}

.prdModal_actionRow {
    padding-left: 46px;
    padding-right: 46px;
}

.prdModal_actionRow .btn {
    width: 100%;
    margin-bottom: 22px;
}

.prdModal_cancelLink {
    color: #696565;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.footer_btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.cancel_btn {
    background-color: #ccc;
}

.confirm_btn {
    background-color: #28a745;
    color: white;
}

.process_section {
    padding-bottom: 48px;
}

.process_section .faq__accordion {
    gap: 8px;
    font-size: 18px;
    line-height: 21px;
}

.process_section .faq__accordion-item {
    border-top: 1px solid rgba(121, 96, 72, 0.1);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.process_section .faq__accordion-item:last-of-type {
    border-bottom: 1px solid rgba(121, 96, 72, 0.1);
}

.process_section .faq__accordion-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 700;
    padding: 20px 70px 20px 16px;
    cursor: pointer;
    position: relative;
}

.process_section .faq__accordion-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-color: #F3F3F3;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.process_section .faq__accordion-item.active .faq__accordion-button::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background-color: #FFC116;
}

.process_section .faq__accordion-button-icon {
    right: 18px;
    width: 13px;
    height: 7px;
    background-image: url('data:image/svg+xml,<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.70497 6.64811L0.808131 0.983309L12.5775 0.958082L6.70497 6.64811Z" fill="%234F4447"/></svg>');
}

.process_section .faq__accordion-content {
    display: none;
    font-size: 18px;
    line-height: 1.3333;
    padding-bottom: 30px;
}

.process_section .faq__accordion-item.active .faq__accordion-content {
    display: block;
}

.process_section .faq__accordion-content-holder {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.process_section .faq__accordion-content-holder>img {
    width: 100%;
    margin-bottom: 24px;
}

.extraInfo_section {}

.extraInfo_top {
    padding: 40px 45px 0px;
    text-align: center;
    background: #FFC116;
    border-radius: 40px 40px 0px 0px;
}

.extraInfo_title {
    margin-bottom: 24px;
}

.extraInfo_imgBox {
    position: relative;
}

.extraInfo_img {
    margin: 0px -45px;
    max-width: calc(100% + 90px);
}

.extraInfo_text {
    font-size: 18px;
    font-weight: 700;
    background: rgba(255, 227, 148, 0.86);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border-radius: 40px;
    padding: 6px 16px 6px 64px;
    position: absolute;
    top: 42%;
    left: 53%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.extraInfo_overlay {
    position: absolute;
    left: 8px;
    bottom: 70px;
    width: 150px;
}

.w_full {
    width: 100%;
}

.extraInfo_bottom {
    padding-top: 34px;
}

.extraInfo_bottomTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 26px;
}

.section7 {
    padding: 49px 16px;
    text-align: center;
}

.section7_title span {
    color: #FFC116;
    margin-bottom: 24px;
}

.section7_desc {
    margin-bottom: 21px;
}

.section7_infoBoxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 18px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: -60px;
}

.section7_infoBox {
    color: var(--c_white);
    height: 428px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 12px 22px;
}

.section7_infoIcon {
    display: block;
    width: 50px;
    margin-right: auto;
}

.section7_infoTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--c_white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
}

.section7_infoBadge {
    color: var(--c_black);
    font-size: 18px;
    font-weight: 700;
    padding: 7px 15px;
    background: #FFC116;
    border-radius: 38px;
    display: inline-block;
}

.section7_extraInfo {
    background-image: url("../img/section7_extraInfo.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    max-width: 316px;
    padding: 96px 44px 44px;
    margin-left: auto;
    margin-right: auto;
}

.section7_extraInfoIcon {
    width: 68px;
    height: 68px;
    margin-bottom: 10px;
}

.section7_extraInfoText {
    font-size: 22px;
    font-weight: 500;
}

.section8 {
    padding: 49px 16px;
    background-color: #FFF0C9;
    text-align: center;
}

.section8_title {
    margin-bottom: 8px;
}

.section8_desc {
    margin-bottom: 15px;
}

.section8_infoCard {
    height: 362px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 36px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 15px;
}

.section8_infoCard:nth-of-type(1) {
    background-image: url("../img/section8-1.webp");
}

.section8_infoCard:nth-of-type(2) {
    background-image: url("../img/section8-2.webp");
}

.section8_infoCard:nth-of-type(3) {
    background-image: url("../img/section8-3.webp");
}

.section8_infoCard:nth-of-type(4) {
    background-image: url("../img/section8-4.webp");
}

.section8_infoDesc {
    color: var(--c_white);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
}

.section8_infoDesc h6 {
    font-size: 18px;
    margin-bottom: 6px;
}

.section8_bottom {
    padding: 20px 53px 0px;
}

.section8_bottom .btn {
    width: 100%;
}

.section8_bottomText {
    color: #696565;
    font-size: 14px;
    font-weight: 500;
    padding-top: 22px;
}

.section9 {
    padding: 49px 42px;
    text-align: center;
}

.section9_title {
    margin-bottom: 9px;
}

.section9_desc {
    margin-bottom: 22px;
}

.section9_img {
    margin: 0px -42px;
    max-width: calc(100% + 84px);
}

.section10_top {
    text-align: center;
    color: var(--c_white);
    padding: 46px 46px 51px;
    border-radius: 46px 46px 0px 0px;
    background: -o-linear-gradient(204.07deg, #FFC116 -19.6%, #F86E28 78.93%);
    background: linear-gradient(245.93deg, #FFC116 -19.6%, #F86E28 78.93%);
}

.section10_title {
    margin-bottom: 50px;
}

.section10_imgBox {
    position: relative;
    margin: 0px -46px;
}

.section10_img {
    width: 100%;
}

.section10_infoItem {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
}

.section10_infoItem:nth-of-type(1) {
    left: 24px;
    top: -24px;
    max-width: 125px;
}

.section10_infoItem:nth-of-type(2) {
    left: 178px;
    top: -40px;
    max-width: 104px;
}

.section10_infoItem:nth-of-type(3) {
    left: 312px;
    top: -14px;
    max-width: 128px;
}

.section10_infoItem:nth-of-type(4) {
    left: 51px;
    bottom: 11px;
    max-width: 183px;
}

.section10_infoItem:nth-of-type(5) {
    left: 350px;
    bottom: 12px;
    max-width: 101px;
}

.section10_bottom {
    padding: 40px 68px 49px;
    text-align: center;
}

.section10_bottom .btn {
    width: 100%;
}

.section10_bottomText {
    color: #696565;
    font-size: 14px;
    font-weight: 500;
    padding-top: 22px;
}

.faq_section {
    padding: 40px 16px;
    background-color: #F0F0F0;
}

.faq_section .section10_title {
    text-align: center;
    margin-bottom: 14px;
}

.faq_section .faq__accordion {}

.faq_section .faq__accordion-item {
    margin-bottom: 6px !important;
}

.faq_section .faq__accordion-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 700;
    padding: 16px 50px 16px 16px;
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
}

.faq_section .faq__accordion-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 29px;
    height: 29px;
    background-image: url("../img/circle-down.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.faq_section .faq__accordion-item.active .faq__accordion-button::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.faq_section .faq__accordion-button-icon {
    right: 18px;
    width: 13px;
    height: 7px;
    background-image: url('data:image/svg+xml,<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.70497 6.64811L0.808131 0.983309L12.5775 0.958082L6.70497 6.64811Z" fill="%234F4447"/></svg>');
}

.faq_section .faq__accordion-content {
    display: none;
    font-size: 14px;
    line-height: 1.3333;
    padding: 12px 0px 16px;
}

.faq_section .faq__accordion-item.active .faq__accordion-content {
    display: block;
}

.faq_section .faq__accordion-content-holder {
    padding-left: 10px;
    padding-right: 10px;
}

.faq_section .faq__accordion-content-holder>img {
    width: 100%;
    margin-bottom: 24px;
}

.testimonials_section {
    padding: 48px 16px;
}

.testimonials_title {
    text-align: center;
    margin-bottom: 27px;
}

.testimonial_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 17px 23px;
    gap: 22px;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: #F0F0F0;
    background-image: url("../img/icon-quate.svg");
    background-repeat: no-repeat;
    background-position: top 22px right 22px;
}

.testimonial_clientImg img {
    width: 61px;
    min-width: 61px;
    height: 61px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.testimonial_content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.testimonial_clientName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.testimonial_rating {
    max-width: 116px;
    margin-bottom: 6px;
}

.testimonial_clientReview {
    font-size: 14px;
}

.testimonials_bottom {
    padding: 10px 68px 0px;
    text-align: center;
}

.testimonials_bottom .btn {
    width: 100%;
}

.testimonials_bottomText {
    color: #696565;
    font-size: 14px;
    font-weight: 500;
    padding-top: 22px;
}

.footer {
    color: #ffffff;
    border-radius: 30px 30px 0 0;
    padding: 20px 36px 24px;
    background-color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #FFC116;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 19px 20px;
}